@import 'layout/layout';
@import '../scss/layout/newpizza';




body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(247, 174, 39);
    font-family: 'Lato', sans-serif;

    
}

.main-menu {
    color: black;
    text-transform: uppercase;
    border-bottom: 1px solid rgb(75, 75, 75);
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 20px;
    &__container {
        display: flex;
        list-style: none;
        justify-content: flex-end;
        align-items: center;
    }
    &__item {
        padding-right: 10px;
        font-weight: 700;
        &:last-child {
            padding-right: 0;
        }
        a {
            text-decoration: none;
            color: black;
        }
    };
}

.header-img {
    width: 50px;
    height: auto;
    padding-right: 10px;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.login-container {
    width: 100%;
    border-bottom: 1px solid #000;
    padding-bottom: 50px;
    div {
        display: flex;
        flex-direction: column;
    }
}


.registration-container {
    width: 100%;
    div {
        display: flex;
        flex-direction: column;
    }
}

