extends layout.pug

block appContent
    h2 Wybierz swoją pizze 
    
    ul.pizza-ul
        li.pizza-li
            .pizza-details pica1
        
        li.pizza-li
            .pizza-details pica2
        
        li.pizza-li
            .pizza-details pica3
        
        li.pizza-li
            .pizza-details pica4
        