// $orange: #ffa600; 
// $grey: #f3f3f3; 
// $blue: #82d2e5;

// $link-primary: $orange;
// $link-secondary: $blue;
// $link-tertiary: $grey;

// $radius-button: 5px;
// $radius-tab: 5px;

// // Bad
// $red: red;
// $yellow: yellow;

// // Better
// $brand-color: red;
// $accent-color: yellow;

// http://chir.ag/projects/name-that-color/#2F3607

// $avocado: #258039;
// $yellow: #F5BE41;
// $aqua: #31A9B8;
// $tomato: #CF3721;

$fig: #4C3F54;
$apple-red: #D13525;
$cheese: #F2C057;
$basil: #486824;

$backgorund-color: $cheese;
$theme-color-1: $apple-red;
$theme-color-2: $basil;
$theme-color-3: $fig;

