html
    head    
        title= title
    body
        h1= message
        form(method='POST' action='/users')
            div
                label(for='login') login:
                input(type='text', placeholder='wpisz login' name='login')
            div
                label(for='password') password:
                input(type='text', placeholder='wpisz hasło' name='password')
            div
                label(for='email') Email:
                input(type='email', placeholder='name@email.com' name='email')
            button(type='submit') Sign up