doctype html
html
    head    
        title app pica
        link(rel='stylesheet', href='/css/base.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:400,700&amp;subset=latin-ext')
        link(rel="shortcut icon" href="../img/favicon.ico")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")

    body
        nav.main-menu
            .logo
                include includes/header.pug
                p pizza App
            ul.main-menu__container
                li.main-menu__item
                    a(href='/login') Login
                li.main-menu__item
                    a(href='/orders') Orders
                li.main-menu__item
                    a(href='/logout') logout   
                li.main-menu__item
                    a(href='/login') Login             
        .content
            block appContent            