doctype html
html
    head    
        title app pica
    body
        include includes/header.pug
        nav
            ul
                li
                    a(href='/login') Login
                li
                    a(href='/orders') Orders
                li
                    a(href='/logout') logout   
    block appContent            